<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
							<dict>
								<key>ExtensionInstallForcelist</key>
								<array>
									<string>aomjjhallfgjeglblehebfpbcfeobpgk;https://clients2.google.com/service/update2/crx</string>
									<string>kgjfgplpablkjnlkjmjdecgdpfankdle;https://clients2.google.com/service/update2/crx</string>
								</array>
								<key>HideWebStorePromo</key>
								<true/>
								<key>ImportSavedPasswords</key>
								<false/>
								<key>MetricsReportingEnabled</key>
								<false/>
								<key>PasswordManagerAllowShowPasswords</key>
								<false/>
								<key>PasswordManagerEnabled</key>
								<false/>
							</dict>
						
					</plist>
